*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    gap: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
}

.full-container{
    display: none;
    flex-direction: column;
    opacity: 10%;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    
    top: 0;
    z-index: -3;
}

.rockBgText{
    position: fixed;
    top: 0;
    left: -30%;
    font-size: 10rem;
    font-family: "Montserrat";
    -webkit-text-fill-color: rgb(15, 15, 15); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ebebeb;
}

.paperBgText{
    position: fixed;
    top: 20%;
    left: 10%;
    font-size: 10rem;
    font-family: "Montserrat";
    -webkit-text-fill-color: rgb(15, 15, 15); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ebebeb;
}

.scissorsBgText{
    position: fixed;
    top: 39%;
    left: 50%;
    font-size: 10rem;
    font-family: "Montserrat";
    -webkit-text-fill-color: rgb(15, 15, 15); 
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ebebeb;
}

.ticon{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 2vh;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.close-icon{
    font-size: 3rem;
    color: #ebebeb;
    cursor: pointer;
    padding: 2vh;
}

.menu{
    min-width: 25%;
    height: 100vh;
    background-color: black;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 1;  
    transition: 0.5s ease-in-out;
}

.menu ul{
    list-style-type: none;
    padding: 25px;
    font-family: "Montserrat";
    font-size: 1rem;
    color: #ebebeb;
}

.menu ul li{
    margin: 2vh;
}

.menu-header2{
    padding: 25px;
    font-weight: 900;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 2rem;
    color: #ebebeb;
}

.header-container{
    display: flex;
    align-items: center;
    min-height: 35vh;
}

.heading{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 5rem;
    color: #ebebeb;
}

.description{
    font-family: "Montserrat";
    font-size: 1rem;
    color: #ebebeb;
    margin-bottom: 2vh;
}

.spacer.spacer-1{
    min-height: 150px;
    width: 100%;
}

.choice-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    min-width: 50vh;
    min-height: 90vh;
    border: none;
    border-radius: 10px;
}

.choose-header{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2rem;
    color: #ebebeb;
    margin-bottom: 4vh;
}

.result-header{
    display: none;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2rem;
    color: #ebebeb;
    margin-bottom: 4vh;
}

.image-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 3vh;
}

@media  (min-width: 768px) {
    .full-container{
        display: flex;
    }
    .choice-container{
        min-width: 90vh;
        min-height: 40vh;
    }
    .image-containers{
        flex-direction: row;
        
    }
    .menu{
        min-width: 25%;
    }
    .menu-header2{
        padding: 25px;
        font-weight: 900;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 4rem;
        color: #ebebeb;
    }
    .menu ul{
        list-style-type: none;
        padding: 25px;
        font-family: "Montserrat";
        font-size: 2rem;
        color: #ebebeb;
    }
    .rockBgText{
        position: fixed;
        top: -25%;
        left: -30%;
        font-size: 30rem;
        font-family: "Montserrat";
        -webkit-text-fill-color: rgb(15, 15, 15); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: #ebebeb;
    }
    
    .paperBgText{
        position: fixed;
        top: 20%;
        left: 10%;
        font-size: 30rem;
        font-family: "Montserrat";
        -webkit-text-fill-color: rgb(15, 15, 15); /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: #ebebeb;
    }
    
    .scissorsBgText{
        position: fixed;
        top: 70%;
        left: 60%;
        font-size: 30rem;
        font-family: "Montserrat";
        -webkit-text-fill-color: rgb(15, 15, 15); 
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: #ebebeb;
    }
}

.choice:hover{
    animation: float 500ms ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translate3d(0);
    }
    50%{
        transform: translate3d(0, 20px, 150px);
    }
    100%{
        transform: translate3d(0);
    }
}

.computer-choice-container{
    display: none;
}

.computer-img{
    display: none;
    animation: setup 500ms ease-in-out 2; 
}

.user-choice-container{
    display: none;
}

.user-img{
    display: none;
    animation: setup 500ms ease-in-out 2;
}

@keyframes setup {
    0%{
        transform: translate3d(0);
    }
    50%{
        transform: translate3d(0, 20px, 0);
    }
    100%{
        transform: translate3d(0);
    }
}

.result-display{
    display: none;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 2rem;
    color: #ebebeb;
}

#try-again-link{
    display: none;
}

a:link{
    font-size: 2rem;
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
}
a:hover{
    font-size: 2.5rem;
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
}
a:visited{
    font-size: 2rem;
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
}